html {
    --text: #000000;
    --background: #fcf1da;
    --primary: #931c1c;
    --secondary: #ff9292;
    --accent: #8d2a29;
}

body{
    color:var(--text);
    Background: var(--background);
    font-family: Italiana;
}

h1,
h2,
h3{
    color: var(--primary);
    font-family: Blinker ;
}

li::marker {
    color:var(--secondary);
}

img {
    padding: 4px;
    border: 4px solid var(--secondary);
    border-radius: 16px;
    Background: var(--primary)
}
h2{
    border: 4mm ridge rgba(220, 161, 50, 0.6);
    padding:2px;
    margin: 20px
}
.joshua{
    border: 2px solid orange;
    margin: 20px;
    padding: 8px;
}
* {
    /* border: 1px solid red;  */
}
.sports {
    color:#ff00bf;
    font-size: large;
    text-decoration: dotted underline;
}
.james {
    color:rgb(255, 185, 35);
    font-weight: bold;
}
.music{
    color:rgb(0, 138, 30);
    font-style: italic;
}
.bird{
    color: aquamarine;
    text-decoration: black wavy overline;
}
.fish{
    line-height: 2px;
    text-decoration: underline;
}
.pigeon{
    text-decoration: underline;
}
Audio{
    padding: 3px;
    border-radius: 16px;
    Background: rgb(255, 166, 0);
    margin: 1em;
    border:1em ridge rgb(255, 187, 0);
    width:250px;
    height:50px;

}